        <div class="footer text-center">
            <p>&copy; {{ site.title }} - 2014</p>
            <p class="rss-subscribe">inscreva-se <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        </div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Placed at the end of the document so the pages load faster -->
