    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/sobre">O que é CPDx?</a></li>
                <li><a href="/programacao">Programação</a></li>
                <li><a href="/palestras-realizadas">Palestras Realizadas</a></li>
            </ul>
            <a href="{{site.url}}">
              <h3 class="text-muted">
                <img src="/assets/images/ciclo.jpg" width="48" alt="" />
                CPD<span>x</span>
              </h3>
            </a>
        </div>
